/* Site Colors:
  #1A446C - blue grey
  #689DC1 - light blue
  #D4E6F4 - very light blue
  #EEE4B9 - light tan
  #8D0D19 - burgundy
*/

body{
background-color: #EDFAB6;
font-family: Consolas;

}

h2{
font-size:14pt;
color:#737;
font-weight:normal;
}
h3{

color:#888;
font-size:12pt;
font-weight:normal;
}
h5{
color:#333;
font-weight:normal;
}
hr{
width:80%;
text-align: left;
background:#033;
height:1px;
border:none;
}