/* Site Colors:
  #1A446C - blue grey
  #689DC1 - light blue
  #D4E6F4 - very light blue
  #EEE4B9 - light tan
  #8D0D19 - burgundy
*/

html { height: 100%; width: 100%; }
body {
  width: 100%; height: 100%; 
  margin: 0; padding: 0; border: 0;
  font-family: Helvetica, Verdana, Arial,  sans-serif; 
  font-size: 13px; line-height: 15px;
  background: #;
}
img { border: none; }
a { color: #162492 }
a:hover { color: #8D0D19; }
.container{
	background-color: lightsteelblue;
	border-radius:10px;
	margin:auto;
	width:800px;
}

#header { 
	height: 70px; 
	margin: 0; padding: 5px; text-align: left;
  background: #1A446C; color: #D4E6F4;
  line-height:20px;
  
}
#header h1 {  }
#header a{color:#FFFFFF;}
#main { 
	height: 600px; width: 100%; 
	margin: 0; padding: 0; 
	background: #EEE4B9;
}
#footer { 
	clear: both;
	height: 2em; margin: 0; padding: 1em; 
	text-align: center; 
  background: #1A446C;  color: #D4E6F4;
}

/* Navigation */
#navigation { 
	float: left;
	width: 150px; height: 100%; 
	margin: 0; padding: 0 2em; 
	color: #D4E6F4; background: #8D0D19;
}
#navigation a { color: #D4E6F4; text-decoration: none; }
#navigation a:hover { color: #FFFFFF; }
ul.subjects { 
	margin: 1em 0; padding-left: 0; list-style: none;
}
ul.pages { padding-left: 2em; list-style: square; font-weight: normal; }
.selected { font-weight: bold; }

/* Page Content */
#page { 
	float: left; height: 100%;
	padding-left: 2em; vertical-align: top; 
	background: #EEE4B9;
}
#page h2 { color: #8D0D19; margin-top: 1em;}
#page h3 { color: #8D0D19; }
.view-content {
	margin: 1em; padding: 1em; border: 1px solid #999;
}

div.message { 
	border: 2px solid #8D0D19;
	color: #8D0D19; font-weight: bold;
	margin: 1em 0 ; padding: 1em; 
}

/* errors */
.error {
	color: #8D0D19; border: 2px solid #8D0D19;
	margin: 1em 0; padding: 1em;
}
.error ul { padding-left: 2em; }
.signal_required{color:red;}
.post{
	border:2px solid grey;
	padding:4px;
	border-radius:2px;
	margin:5px;
}
.post:hover{
	background-color:grey;
	opacity:10%;
}
.outercontainer{
                width: 80%;
            max-width: 1600px;
            margin-left:10%;
			float:left;
            min-height: 50px;
            padding-top: 30px;

        }
.tags{}
.tags a{ text-decoration:none;}
.tags a:hover{ text-decoration:underline overline;}

.right {
    margin-left:200px;

}

.details_container{
    margin: auto;
    width: 800px;
    color: #1A446C;
}


#map-canvas{
    width:250px;
    height:200px;
    float:right;
    border: 1px solid black;
}

img{
    width: 300px;
    height: 200px;
    border: 1px solid black;
}


/* template structure */

html {
	font: .875em/1.5 "Helvetica Neue", Arial, sans-serif;
	overflow-y: scroll;
	    -ms-text-size-adjust: 100%;
    	-webkit-text-size-adjust: 100%;
}

body {
	background: #fff;
	color: #333;
	margin: 0;
	min-height: 100%;
}

.templateContainer {
	margin: 0 auto;
	max-width: 960px;
	padding: 0 1%;
}

.header {
	background: #003E7E;
	color: #fff;
	margin-bottom: 1.5em;
}

.siteLogo {
	color: #fff;
	display: block;
	float: left;
	font-size: 1.286em;
	font-weight: 700;
	height: 84px; /* to prevent a reflow */
	line-height: 1.125;
	padding: 1em 0;
	text-decoration: none;
	transition: .2s linear;
}
.siteLogo:hover,
.siteLogo:focus {
	background: #003871;
	background: rgba(0, 0, 0, .1);
	color: #fff;
}
.siteLogo > .left { margin: 0 10px 0 0; }

.siteLogo > span {
	display: inline-block;
	margin-top: 21px;
	width: 10em;
}

.topNav,
.forYou > ul,
.hNav ul,
.vNav,
.vNav ul,
.pageTools,
.footer ul {
	list-style: none;
	padding: 0;
}

.topNav { float: right; }
.topNav > li {
	float: left;
	margin-left: 2em;
}
.topNav > li:first-child {
	font-weight: 700;
	margin-left: 0;
}
.topNav > li > a {
	border-radius: 4px;
	line-height: 2;
	padding: 0 .5em;
	transition: background .15s linear;
}

.topNav .here { background: #937206; }
.topNav a,
.topNav a:hover,
.topNav a:focus {
	color: #fff;
	display: block;
	text-decoration: none;
}
.topNav a:hover,
.topNav a:focus { background: #001F3F; }

.forYou { position: relative; }

.forYou > a {
	background: #937206;
	font-weight: 700;
}
.forYou:hover > a,
.forYou > a:focus,
.forYou > .descendantFocus {
	background: #886A05;
	border-radius: 4px 4px 0 0;
}
.forYou > ul {
	background: #fff;
	background: rgba(255, 255, 255, .98);
	border: 3px solid #886A05;
	border-radius: 4px 0 4px 4px;
	display: none;
	margin: 0;
	padding: 10px;
	position: absolute;
	right: 0;
	z-index: 101; /* must be greater than #q */
}

.forYou:hover ul,
.forYou > a:focus + ul,
.forYou > .descendantFocus + ul { display: block; }
.forYou > ul a {
	border-bottom: 1px solid #ddd;
	border-radius: 3px;
	color: #333;
	padding: 5px;
	transition: none;
}
.forYou > ul a:hover,
.forYou > ul a:focus {
	background: #886A05;
	color: #fff;
}
.forYou li { white-space: pre; }

.forYou .more > a { border-bottom: 0; }

.header form {
	clear: right;
	color: #333;
	float: right;
}
.header label { color: #fff; } /* needed to prevent false positive in WCAG scan */

#q {
	position: relative;
	transition: .2s linear;
	width: 21.4286em; /* 300px */
	z-index: 100; /* must be greater than bxSlider because of ui-autocomplete */
}

.hNav {
	background: #0076C0;
	border-bottom: 1px solid #003E7E;
}

.hNav > ul {
	bottom: 4px;
	display: table;
	margin: 0 auto -5px;
	position: relative;
}
.hNav > ul > li {
	float: left;
	position: relative;
	transition: .2s linear;
}

.hNav > ul > li > a {
	color: #fff;
	display: block;
	font-size: 1.143em;
	font-weight: 700;
	line-height: 3.4375;
	padding: 0 13px;
	text-decoration: none;
	transition: .1s linear;
}
.hNav > ul > li:not(.here) > a { transition: background .2s linear; }
.hNav > ul > li:hover > a,
.hNav > ul > li > a:focus,
.hNav > ul > li > .descendantFocus { background: #003E7E; }

.hNav > ul > .here > a,
.hNav > ul > .here > a:focus,
.hNav > ul > .here > .descendantFocus {
	background: #fff;
	background-clip: padding-box;
	border-radius: 6px 6px 0 0;
	color: #111;
	transition: none;
}

.hNav > ul > .here:hover > a,
.hNav > ul > .here > .descendantFocus,
.hNav > ul > .here > .descendantFocus:focus { background: #fff; }

.hNav > ul > li > div {
	background: #fff;
	background: rgba(255, 255, 255, .98);
	border: 1px solid #E2E4E4;
	border-top-color: transparent;
	border-radius: 0 0 6px 6px;
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, .1);
	display: none;
	left: 0;
	position: absolute;
	width: 440px;
	z-index: 101; /* must be greater than bxSlider and .ui-front */
}

.hNav > ul > :first-child > div,
.hNav > ul > :last-child > div { width: 220px; }
.hNav > ul > :nth-child(6) > div,
.hNav > ul > :last-child > div {
	left: auto;
	right: 0;
}
.hNav > ul > li:hover > div,
.hNav > ul > li > a:focus + div,
.hNav > ul > li > .descendantFocus + div { display: block; }
.hNav > ul > li > div > ul {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 10px;
	width: 220px;
}
.hNav > ul > li > .twoColumn > ul { float: left; }

.hNav > ul > li > div li { border-top: 1px solid #ddd; }
.hNav > ul > li > div :first-child { border-top: 0; }

.hNav > ul > li > div a {
	border-radius: 3px;
	color: #111;
	display: block;
	padding: 5px 5px;
	text-decoration: none;
	transition: none;
}
.hNav > ul > li > div a:hover,
.hNav > ul > li > div a:focus {
	background: #003E7E;
	color: #fff;
}


.vNav {
	float: left;
	margin: 0 20px 0 0;
	width: 180px;
}

.vNav a {
	border-top: 1px solid #ededed;
	display: block;
	padding: .385em 0;
}

.vNav .here {
	background: #fff url("../img/arrow_right_gray_17x14.png") 100% 50% no-repeat;
	color: #333;
	font-weight: 700;
	padding-right: 18px;
}

.vNav > li > a {
	border: 0;
	display: block;
	font-size: 1.286em;
	font-weight: 700;
	line-height: 1.1666;
	padding: 0 0 6px;
}
.vNav > li > .here { background-position: 100% 6px; }

.vNav > li > ul:first-child { margin-top: 30px; } /* when there's no top-level menu item */

.vNav ul {
	font-size: .929em;
	margin: 0;
}

.vNav ul ul {
	background: #f5f5f5;
	font-size: .923em;
}

.vNav ul ul > li > a {
	padding-left: 1em;
	padding-right: .25em;
}

.vNav ul ul ul {
	background: rgba(255, 255, 255, .5);
	font-size: .916em;
	margin-left: 1em;
}

.vNav ul ul ul ul {
	background: rgba(255, 255, 255, .5);
	font-size: .909em;
}

.mainColumn {
	float: right;
	padding-bottom: 2.5em;
	position: relative;
	width: 760px;
}

   .noSidebars > .mainColumn,
.noLeftSidebar > .mainColumn {
	float: none;
	width: auto;
}

.breadcrumbs {
	font-size: .929em;
	margin: 0 0 10px;
	padding-left: 1px;
}


.hGroup {
	border-top: 1px solid #ededed;
	float: left;
	margin-bottom: 10px;
	padding-top: 10px;
}
.hGroup.tall { min-height: 53px; }

.templateContainer #content { /* when we're showing the template (default) */
	clear: both;
	float: left; /* float always to consistently prevent margin collapsing */
}

       .default #content,
       .default .hGroup,
.noRightSidebar .hGroup { width: 520px; }

.noLeftSidebar #content,
.noLeftSidebar .hGroup,
   .noSidebars .hGroup {
 	float: left;
 	width: 720px;
}
.noRightSidebar #content,
    .noSidebars #content { width: 100%; } /* prevents the shrink-wrap effect (a behavior of floats) in rare cases */

.pageTitle {
	letter-spacing: -1px;
	line-height: 1.0714;
	margin: .107em 0;
}
.pageSubtitle {
	color: #444;
	font-size: 1.714em;
	letter-spacing: -1px;
	line-height: 1.167;
	margin: .083em 0;
}

.rightSidebar {
	float: right;
	margin-left: 20px;
	min-height: 1px;
	overflow: hidden;
	width: 220px;
}

.pageTools {
	background: #fff;
	border: 1px solid #d9dcdf;
	box-shadow: 0 0 0 10px rgba(255, 255, 255, .8);
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	width: 220px;
}
.pageTools li {
	float: left;
	margin: 5px 1em;
}

.pageTools li > a {
	background: url("../img/pageToolsSprite.png") 0 -3px no-repeat;
	color: #333;
	display: block;
	min-height: 1.5em;
	min-width: 2.4em;
	padding: 0 0 0 26px;
}
.pageTools .print > a     { background-position: 0 -27px; }
.pageTools .rss > a       { background-position: 0 -52px; }
.pageTools .subscribe > a { background-position: 0 -77px; }

.pageTools .facebook {
	background: #3B55A0;
	background: linear-gradient(#4B68B9, #3B55A0);
}
.pageTools .facebook:hover,
.pageTools .facebook:focus {
	background: #4965B3;
	background: linear-gradient(#5979D2, #4965B3);
}
.pageTools .facebook > a {
	background-position: -1px -101px;
	color: #fff;
	padding: 2px 5px 2px 20px;
}

.pageTools .twitter {
	background: #DFDFDF;
	background: linear-gradient(#FEFEFE, #DFDFDF);
}
.pageTools .twitter:hover,
.pageTools .twitter:focus {
	background: #F7F7F7;
	background: linear-gradient(#F7F7F7, #D9D9D9);
}
.pageTools .twitter > a {
	background-position: 0 -126px;
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 1px 5px 1px 22px;
}

.pageTools .google > a {
	background-position: 0 -152px;
	border: 1px solid #D4D4D4;
	border-radius: 2px;
	min-width: 20px;
	padding: 1px;
}
.pageTools .google > a:hover,
.pageTools .google > a:focus { border-color: #bfbfbf; }

.noJS .pageTools > .print { visibility: hidden; }

.pageTools .share + li {
	display: none;
	min-width: 157px;
}

.pageTools .share + li > ul {
	margin-top: 0;
	padding-left: 0;
}
.pageTools .share + li > ul > li {
	border-radius: 2px;
	display: inline-block;
	font-size: .7857em;
	font-weight: 700;
	margin-left: 1em;
	margin-right: 0;
	margin-top: 0;
}
.pageTools .share + li > ul > li:first-child { margin-left: 0; }

.pageTools .share + li > ul > li > a:hover,
.pageTools .share + li > ul > li > a:focus { text-decoration: none; }

.pod {
	background: #F8F8F8;
	border: 1px solid #d9dcdf;
	margin: 1.5em 0 .214em;
}

.pod > h2 {
	background: #003E7E;
	color: #fff;
	margin: 0;
	padding: .25em;
}
.pod > h2 > a,
.pod > h2 > a:focus,
.pod > h2 > a:hover { color: #fff; }
.pod.alt  > h2 { background: #0076C0; }
.pod.alt2 > h2 { background: #353535; }

.pod > div { padding: 1px 5px; }

.rightSidebar > .pod > ul {
	list-style: none;
	margin-top: .214em;
	padding: 5px;
}
.rightSidebar > .pod li { padding: 3px 0; }


.footer { font-size: .929em; }

.footer ul { margin-top: .214em; }

.footer.row1 {
	background: #003E7E;
	border-bottom: 4px solid #00264D;
	border-top: 10px solid #937206;
	padding: 0 0 3em;
}
.footer.row1,
.footer.row1 a,
.footer.row1 h2 { color: #fff; }

.footer.row1 h2 { font-size: 1.461em; }

.footer.row1 > div > div       { width: 52%; }
.footer.row1 > div > div + div { width: 48%; }
.footer.row1 > div > div > div       { width: 50%; }
.footer.row1 > div > div > div + div { width: 50%; }
.footer.row1 > div > div + div > div       { width: 61%; }
.footer.row1 > div > div + div > div + div { width: 39%; }

.stayConnected {
	border-radius: 3px;
	overflow: hidden;
	width: 120px;
}
.stayConnected > li { float: left; }
.stayConnected > li > a {
	background: #001F3F url("../img/socialMedia/socialSprite.png") no-repeat;
	display: block;
	height: 60px;
	text-indent: -999em;
	transition: background .2s linear;
	width: 60px;
}
.stayConnected > li > a:hover,
.stayConnected > li > a:focus { background-color: #111; }
.stayConnected > li > .twitter   { background-position: 0 -60px; }
.stayConnected > li > .youtube   { background-position: 0 -120px; }
.stayConnected > li > .subscribe { background-position: 0 -240px; }

.visitFAAMobile {
	background: #0076C0;
	border: 1px solid #0076C0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	display: inline-block;
	margin: 1.5em 0 .214em;
	min-height: 62px;
	padding: 7px 6px;
	text-align: right;
	transition: .2s linear;
}
.visitFAAMobile > h2 {
	color: #fff;
	font-size: 1.308em;
	font-weight: 400;
	line-height: 1.4;
	margin: 0;
	text-align: center;
}
.visitFAAMobile > h2 > b {
	font-family: Arial Black, Arial Bold, Gadget, sans-serif;
}


.footer.row2 {
	background: #f9f9f9;
	background: -webkit-linear-gradient(#fff, #f3f3f3);
	background:         linear-gradient(#fff, #f3f3f3);
	border-bottom: 4px solid #ddd;
	padding: 1.5em 0 3em;
}
.footer.row2 img { margin-top: .714em; }
.footer.row2 address {
	font-style: normal;
	margin-top: .214em;
}

.footer.row2 h2 { font-size: 1.385em; }
.footer.row2 h2:first-child { margin-top: 0; }

.footer.row2 a { color: #2353BA; }

.footer.row2 > div > div       { width: 52%; }
.footer.row2 > div > div + div { width: 48%; }
.footer.row2 > div > div > div       { width: 63%; }
.footer.row2 > div > div > div + div { width: 37%; }
.footer.row2 > div > div + div > div       { width: 39%; }
.footer.row2 > div > div + div > div + div { width: 61%; }

.footer.row2 > div > div > div { margin-top: 1.5em; }

.readersViewers { overflow: hidden; }
.readersViewers > li {
	float: left;
	margin-left: 1em;
}
.readersViewers > li:first-child { margin-left: 0; }
.readersViewers a {
	background: url("../img/readersViewersSprite.png") no-repeat;
	display: block;
	height: 20px;
	overflow: hidden;
	text-indent: -999em;
	width: 20px;
}
.readersViewers .doc { background-position: -20px 0; }
.readersViewers .xls { background-position: -40px 0; }
.readersViewers .ppt { background-position: -60px 0; }
.readersViewers .zip { background-position: -80px 0; }


/* block normalization */

address, h2, h3, h4, h5, h6, hr, p, ul, ol, dl, dt, form, table { margin: 1.5em 0 .214em; }

blockquote {
	background: #F6F6F6;
	border-radius: 3px;
	margin: 1.5em;
	padding: 1em;
}
blockquote > p:first-child { margin-top: .214em; }

center { text-align: inherit; }

h2 {
	font-size: 1.429em;
	line-height: 1.2;
}
h3 {
	font-size: 1.143em;
	line-height: 1.3125;
}
h5 { font-size: .929em; }
h6 { font-size: .857em; }

hr {
	border: 1px solid #808080;
	border-width: 1px 0 0;
	-moz-box-sizing: content-box;
	     box-sizing: content-box;
	clear: both;
	height: 0;
}
.heavy { border-width: 2px 0; }


/* inline normalization */

a { background-color: transparent; }

a,
.ui-state-default a:link,
.ui-state-default a:visited,
.ui-widget-content a {
	color: #2353BA;
	text-decoration: none;
	transition: color .2s linear;
}
.diagnosticLink { background: #2353BA; }

a:focus { outline: 1px dotted #808080; }

a:hover,
a:focus,
.ui-state-default a:link:hover,
.ui-state-default a:link:focus,
.ui-state-default a:visited:hover,
.ui-state-default a:visited:focus,
.ui-widget-content a:hover,
.ui-widget-content a:focus { color: #003E7E; }
.diagnosticHover { background: #003E7E; }

a:hover,
a:active {
	outline: 0;
	text-decoration: underline;
}

abbr[title],
acronym[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
a abbr[title],
a acronym[title] { cursor: pointer; }
a:hover abbr[title],
a:focus abbr[title],
a:hover acronym[title],
a:focus acronym[title] { border-bottom: 0; }

[align] {
	float: none;
	text-align: inherit;
}

[align],
[valign] {
	vertical-align: inherit;
	vertical-align: initial;
}
td[valign] { vertical-align: top; }

b, .bold, strong { font-weight: 700; }

basefont, font {
	color: inherit;
	font: inherit;
}

big { font-size: inherit; }

del { color: #595959; }

dfn { font-style: italic; }

code, kbd, pre, samp {
	font-family: Consolas, Monaco, monospace, monospace; /* duplication is intentional */
	font-size: 1em;
	-moz-tab-size: 5;
	     tab-size: 5;
	white-space: pre-wrap;
}
code, samp {
	background: #eee;
	border-radius: 3px;
	padding: 3px;
}
kbd {
	background: #333;
	border: .4em solid #222;
	border-left-color: #111;
	border-right-color: #111;
	border-radius: .3em;
	color: #eee;
	font: .857em Arial, sans-serif;
	padding: 0 .4em .4em .2em;
	position: relative;
	top: -.2em;
}

[hspace] {
	margin-left: 0;
	margin-right: 0;
}
[vspace] {
	margin-bottom: 0;
	margin-top: 0;
}

q { quotes: "\201C" "\201D" "\2018" "\2019"; }

::-moz-selection {
	background: #b3d4fc;
	color: #333;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	color: #333;
	text-shadow: none;
}

samp {
	background: #333;
	color: #01FF70;
}

small, .small { font-size: .857em; }

strike { text-decoration: inherit; }

sub, sup {
	font-size: .786em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub { bottom: -0.25em; }
sup { top: -0.5em; }

var { color: #85144B; }


/* lists */

ol, ul { padding-left: 2em; }

   ol ol > li { list-style-type: lower-alpha; }
ol ol ol > li { list-style-type: lower-roman; }

li ul, li ol { margin-top: .214em; }

.oversized > li { margin: 1.5em 0 .214em; }
.oversized.join > li:first-child { margin-top: .214em; }

.more {
	font-size: .929em;
	font-weight: 400;
	list-style: none;
	margin-top: .5em;
}
.more > a { font-weight: 700; }

dt { font-weight: 700; }
dt:first-child { margin-top: .214em; }

dd { margin-left: 2em; }


/* images */

img { border: 0; }

img[width][height],
img:not([height]) {
	height: auto;
	max-width: 100%;
}

img.border { border: 1px solid #333; }

img.left {
	float: left;
	margin: .25em 1em 1em 0;
}
img.right {
	float: right;
	margin: .25em 0 1em 1em;
}

.image { margin: 1.5em 0 .214em; }
.image > img {
	border: 1px solid #333;
	display: block;
}
.image.s2 > img { border: none; }
.image.s2,
.image.s3 {
	background: #F3F6F6;
	border: 1px solid #333;
	padding: 2px;
}
.image > .caption {
	font-size: .929em;
	font-style: italic;
}

/* used by imageFormat(). tag qualification is required. */
div.left {
	float: left;
	margin-bottom: 1em;
	margin-right: 1em;
}
div.center {
	margin-left: auto;
	margin-right: auto;
}
div.right {
	float: right;
	margin-bottom: 1em;
	margin-left: 1em;
}


/* placeholder text */
::-webkit-input-placeholder {
	color: #595959;
	font-style: italic;
}
          :-moz-placeholder {
	color: #595959;
	font-style: italic;
}
         ::-moz-placeholder {
	color: #595959;
	font-style: italic;
}
     :-ms-input-placeholder {
	color: #595959;
	font-style: italic;
}
               .placeholder { /* class added to the DOM by JS placeholder fallback plugin */
	color: #595959;
	font-style: italic;
}

/* hover/focus */
   input:hover,
  select:hover,
textarea:hover { border-color: #808080; }
   input:focus,
  select:focus,
textarea:focus { border-color: #3C7FB1; }

/* disabled */
  button:disabled,
  button:disabled:hover,
   input:disabled,
   input:disabled:hover,
  select:disabled,
  select:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
	background: #e6e6e6;
	border-color: #ababab;
	color: #666;
	cursor: default;
}

/* read-only */
   input[readOnly],
  select[readOnly],
textarea[readOnly] {
	background: 0;
	border-color: transparent;
	cursor: text;
	text-overflow: ellipsis;
}


optgroup {
	font-style: normal;
	padding-bottom: 4px;
}
optgroup:before { color: #666; }

optgroup > option { padding-left: 1em; }

option:hover,
option:focus {
	background: #39f;
	color: #fff;
	cursor: pointer;
}



/* helper classes */

.alert { color: #a00; }

.clear:before,
.clear:after {
	content: " ";
	display: table;
}
.clear:after { clear: both; }

[href^='/exit/'] {
	background: url("data:image/gif;base64,R0lGODlhCgAKALMKAP///yZWvStbwqnE/1OD6qzG/ypawWOT+lKC6WKS+f///wAAAAAAAAAAAAAAAAAAACH5BAEAAAoALAAAAAAKAAoAAAQvUEklqp3kgA3EpAgnBGQgFGKwCQMwEJ3KuoaRjEBxDKNCKKqcABCYBDlFSWk5iQAAOw==") 100% 50% no-repeat;
	padding-right: 13px;
}
.descendantImage { /* class added by JS */
	background: none;
	padding-right: 0;
}

.diagnostic {
	list-style: none;
	overflow: hidden;
	padding-left: 0;
}
.diagnostic > li {
	border-radius: 3px;
	color: #fff;
	float: left;
	line-height: 100px;
	margin-right: 1px;
	padding: 0 30px;
	text-align: center;
}

.hide,
.hidden,
[hidden],
.columnSplit { display: none; }

.visuallyHidden { /* hide visually but remain available for screenreaders. used by 'skip links', accessible pagination, main search form */
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	transition: .5s linear;
	width: 1px;
}

.header > .visuallyHidden {
	background: #001F3F;
	color: #fff;
}
.header > .visuallyHidden:focus {
	clip: auto;
	height: auto;
	left: 0;
	margin: 0;
	padding: 6px;
	top: 10px;
	width: auto;
}

p.center { text-align: center; }
p.right  { text-align: right;  }

.noJS .maxMeasure { max-width: 520px; }

.modal.search {
	background: url("../img/chalkwork/search_16x16.png") 100% 50% no-repeat;
	padding-right: 20px;
}

.roundAll    { border-radius: 6px; }
.roundBottom { border-radius: 0 0 6px 6px; }
.roundLeft   { border-radius: 6px 0 0 6px; }
.roundRight  { border-radius: 0 6px 6px 0; }
.roundTop    { border-radius: 6px 6px 0 0; }



/* in-content message boxes */
.message-box {
	background: #f9f9f9 .615em 1.385em no-repeat;
	border-color: #e8e8e8 #ddd #ddd #e8e8e8;
	border-style: solid;
	border-width: 1px 2px 2px 1px;
	border-radius: 3px;
	box-shadow: 0 0 2em rgba(0, 0, 0, .05) inset;
	font-size: .929em;
	margin: 1.5em 0 .214em;
	min-height: 3em;
	padding: 1px 1em 1em 3em;
	position: relative;
}

.message-box.failure {
	background-color: #FFECEE;
	background-image: url("../img/chalkwork/stop_24x24.png");
}
.message-box.info    {
	background-color: #f1f8ff;
	background-image: url("../img/chalkwork/info_24x24.png");
}
.message-box.loading {
	background-color: #f6f6f6;
	background-image: url("../img/loadingCircle.gif");
}
.message-box.success {
	background-color: #E9F9E8;
	background-image: url("../img/chalkwork/confirm_24x24.png");
}
.message-box.warning {
	background-color: #FFEFC5;
	background-image: url("../img/chalkwork/warning_24x24.png");
}

.pageMessage > .close,
.message-box > .close {
	border-radius: 0 0 0 3px;
	color: #333;
	display: block;
	font-size: 1.5384em;
	line-height: 1.2;
	opacity: .33;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: center;
	text-decoration: none;
	top: 0;
	transition: .2s linear;
	width: 1em;
}
.pageMessage:hover > .close,
.message-box:hover > .close {
	background: rgba(200, 200, 200, .33);
	opacity: .66;
}

.pageMessage > .close:hover,
.pageMessage > .close:focus,
.message-box > .close:hover,
.message-box > .close:focus {
	background: rgba(200, 200, 200, .66);
	opacity: 1;
}

.join {
	margin-bottom: .214em;
	margin-top: .214em;
}

/* documentViewer() fallback */
         a[href]:last-child::after { font-size: .857em; }
 a[href$='.doc']:last-child::after,
 a[href$='.DOC']:last-child::after,
a[href$='.docm']:last-child::after,
a[href$='.DOCM']:last-child::after,
a[href$='.docx']:last-child::after,
a[href$='.DOCX']:last-child::after,
 a[href$='.dot']:last-child::after,
 a[href$='.DOT']:last-child::after,
 a[href$='.rtf']:last-child::after,
 a[href$='.RTF']:last-child::after { content: " (MS Word)"; }
 a[href$='.mp3']:last-child::after,
 a[href$='.MP3']:last-child::after { content: " (MP3)"; }
 a[href$='.pdf']:last-child::after,
 a[href$='.PDF']:last-child::after { content: " (PDF)"; }
 a[href$='.pps']:last-child::after,
 a[href$='.PPS']:last-child::after,
a[href$='.ppsx']:last-child::after,
a[href$='.PPSX']:last-child::after,
 a[href$='.ppt']:last-child::after,
 a[href$='.PPT']:last-child::after,
a[href$='.pptx']:last-child::after,
a[href$='.PPTX']:last-child::after { content: " (MS PowerPoint)"; }
 a[href$='.wav']:last-child::after,
 a[href$='.WAV']:last-child::after { content: " (WAV)"; }
 a[href$='.wmv']:last-child::after,
 a[href$='.WMV']:last-child::after { content: " (WMV)"; }
 a[href$='.xls']:last-child::after,
 a[href$='.XLS']:last-child::after,
a[href$='.xlsx']:last-child::after,
a[href$='.XLSX']:last-child::after { content: " (MS Excel)"; }
 a[href$='.zip']:last-child::after,
 a[href$='.ZIP']:last-child::after { content: " (ZIP)"; }


/* hide items */
@media screen {
	.forPrint {
		display: none;
		visibility: hidden;
	}
}


/* responsive design */

@media (max-width: 990px) {
	.header { margin-bottom: 1em; }
	.hNav > ul > li > a { font-size: 1rem; }
}

@media (max-width: 979px) {
	.mainColumn {
		float: none;
		margin: 0 auto;
	}

	.vNav {
		float: none;
		margin: 0 auto;
		width: 220px;
	}

	.vNav .here {
		background-image: none;
		padding-right: 0;
	}

	.noLeftSidebar > .mainColumn { width: 720px; }

	.noLeftSidebar .pageTools,
	   .noSidebars .pageTools {
		border: 0;
		clear: both;
		float: none;
		margin-left: 0;
		position: static;
		width: auto;
	}
	.noLeftSidebar .pageTools > li:first-child,
	   .noSidebars .pageTools > li:first-child { margin-left: 0; }

	.noLeftSidebar .rightSidebar {
		clear: both;
		float: none;
		margin: 0 auto;
	}

	.noRightSidebar #content {
		float: none;
		margin: 0 auto;
	}

	.noSidebars .hGroup {
		float: none;
		width: auto;
	}

	.noSidebars .layout .formRow,
	.noSidebars .layout .formRow.noLabel,
	.noSidebars .layout fieldset { padding: 8px 4px; }

	.noSidebars .layout label,
	.noSidebars .layout .optionGroup span.label {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		display: block;
		margin-left: 0;
		text-align: left;
		width: 100%;
	}
	.noSidebars .layout .caption { margin-left: 0; }

	.noSidebars .layout .optionGroup legend { margin-left: 0; }

	.noSidebars .layout .optionGroup label {
		display: inline;
		padding-right: 1em;
	}

	.noSidebars .layout label + input,
	.noSidebars .layout label + select,
	.noSidebars .layout label + textarea { max-width: 294px; }

	.noSidebars .layout .textCAPTCHA > input { margin-left: 0; }
}

@media (max-width: 950px) {
	.footer > .twoColumn { max-width: 630px; }
	.footer > .twoColumn > .twoColumn > div {
		float: none;
		width: auto;
	}

	.footer.row1 > div > div,
	.footer.row1 > div > div + div,
	.footer.row2 > div > div,
	.footer.row2 > div > div + div { width: 50%; }
}

@media (max-width: 920px) {
	.hNav > ul > li > a { padding: 0 6px; }
}

@media (max-width: 870px) {
	.topNav > li { margin-left: 1em; }
}

@media (max-width: 840px) {
	.hNav > ul {
		bottom: 2px;
		margin-bottom: -3px;
	}
	.hNav > ul > li:nth-child(1),
	.hNav > ul > li:nth-child(2),
	.hNav > ul > li:nth-child(3) { width: 24%; }
	.hNav > ul > li:nth-child(4),
	.hNav > ul > li:nth-child(7) { width: 28%; }
	.hNav > ul > li:nth-child(5),
	.hNav > ul > li:nth-child(6) { width: 36%; }

	.hNav > ul > li > a {
		line-height: 1.642;
		padding: 0;
		text-align: center;
	}

	.hNav > ul > li:hover > div,
	.hNav > ul > li > a:focus + div { display: none; }
}

@media (max-width: 790px) {
	.noRightSidebar #content { width: auto; }
}

@media (max-width: 774px) {
	.default .mainColumn { width: 520px; }
	.noRightSidebar .mainColumn { width: auto; }

	.noRightSidebar .layout .formRow,
	.noRightSidebar .layout .formRow.noLabel,
	.noRightSidebar .layout fieldset { padding: 8px 4px; }

	.noRightSidebar .layout label,
	.noRightSidebar .layout .optionGroup span.label {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		display: block;
		margin-left: 0;
		text-align: left;
		width: 100%;
	}
	.noRightSidebar .layout .caption { margin-left: 0; }

	.noRightSidebar .layout .optionGroup legend { margin-left: 0; }

	.noRightSidebar .layout .optionGroup label {
		display: inline;
		padding-right: 1em;
	}

	.noRightSidebar .layout label + input,
	.noRightSidebar .layout label + select,
	.noRightSidebar .layout label + textarea { max-width: 294px; }

	.noRightSidebar .layout .textCAPTCHA > input { margin-left: 0; }

	.default .rightSidebar {
		clear: both;
		float: none;
		margin: 0 auto;
	}

	.noRightSidebar .hGroup {
		float: none;
		width: auto;
	}
	.hGroup { padding-top: 0; }
	.hGroup.tall { min-height: 0; }

	.pageTools {
		border: 0;
		clear: both;
		float: none;
		margin-left: 0;
		position: static;
		width: auto;
	}
	.pageTools > li:first-child { margin-left: 0; }

	.pageTools > li[style*='list-item'] + .rss {
		clear: left;
		margin-left: 0;
	}
}

@media (max-width: 772px) {
	.topNav { margin-top: .5em; }
	.topNav > li:nth-child(4) {
		clear: left;
		margin-left: 0;
	}

	.header form { margin: .857em 0; }
	#q { width: 15.5714em; } /* 218px */
}

@media (max-width: 734px) {
	.noLeftSidebar .mainColumn,
	.noLeftSidebar .hGroup,
	.noLeftSidebar #content {
		float: none;
		width: auto;
	}

	.noLeftSidebar .layout .formRow,
	.noLeftSidebar .layout .formRow.noLabel,
	.noLeftSidebar .layout fieldset { padding: 8px 4px; }

	.noLeftSidebar .layout label,
	.noLeftSidebar .layout .optionGroup span.label {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		display: block;
		margin-left: 0;
		text-align: left;
		width: 100%;
	}
	.noLeftSidebar .layout .caption { margin-left: 0; }

	.noLeftSidebar .layout .optionGroup legend { margin-left: 0; }

	.noLeftSidebar .layout .optionGroup label {
		display: inline;
		padding-right: 1em;
	}

	.noLeftSidebar .layout label + input,
	.noLeftSidebar .layout label + select,
	.noLeftSidebar .layout label + textarea { max-width: 294px; }

	.noLeftSidebar .layout .textCAPTCHA > input { margin-left: 0; }
}

@media (max-width: 610px) {
	.pageMessage {
		background-image: none !important;
		padding: 1em;
	}
	.pageMessage > h2 { margin-top: 0 !important; }
	.footer.row2 > div > div,
	.footer.row2 > div > div + div {
		float: none;
		width: auto;
	}

	.footer.row2 > .twoColumn {
		margin: 0 auto;
		max-width: 320px;
	}
}

@media (max-width: 560px) {
	.siteLogo {
		border-radius: 3px;
		display: table;
		float: none;
		height: 42px;
		margin: 0 auto .5em;
		overflow: hidden;
		padding: .5em;
	}
	.siteLogo > .left { width: 42px; }
	.siteLogo > span {
		font-size: 1.143rem;
		line-height: 42px;
		margin: 0;
		width: auto;
	}

	.topNav,
	.header form {
		display: table;
		float: none;
		margin: .5em auto 1em;
	}

	.topNav > li,
	.topNav > li:nth-child(4) {
		clear: none;
		margin-left: .4em;
	}
}

@media (max-width: 530px) {
	.hNav { margin-bottom: 1em; }
	.hNav > ul > li > a { font-weight: 400; }

	.default .mainColumn,
	.default .hGroup,
	.noRightSidebar .hGroup,
	.default #content { width: 100%; }

	.default .layout .formRow,
	.default .layout .formRow.noLabel,
	.default .layout fieldset { padding: 8px 4px; }

	.default .layout label,
	.default .layout .optionGroup span.label {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		display: block;
		margin-left: 0;
		text-align: left;
		width: 100%;
	}
	.default .layout .caption { margin-left: 0; }

	.default .layout .optionGroup legend { margin-left: 0; }

	.default .layout .optionGroup label {
		display: inline;
		padding-right: 1em;
	}

	.default .layout label + input,
	.default .layout label + select,
	.default .layout label + textarea { max-width: 294px; }

	.default .layout .textCAPTCHA > input { margin-left: 0; }
}

@media (max-width: 515px) {
	.breadcrumbs,
	.hGroup,
	.pageTools,
	.content { font-size: .929em; }

	code, samp { padding: 2px; }

	.threeColumn > div,
	.threeColumn > div:first-child + div,
	.threeColumn > div + div + div {
		float: none;
		margin-left: 0;
		width: auto;
	}
}

@media (max-width: 480px) {
	.ui-autocomplete { display: none !important; }
}

@media (max-width: 479px) {
	.topNav {
		width: 295px;
	}
	.topNav > li,
	.topNav > li:nth-child(4) {
		display: inline-block;
		float: none;
		margin: 0;
	}
	.topNav > li > a { padding: 0 10px; }

	.content img.left,
	.content img.right,
	.image.none,
	.image.left,
	.image.center,
	.image.right {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		display: block;
		float: none;
		margin-left: 0;
		margin-right: 0;
	}
}

@media (max-width: 440px) {
	.hNav > ul { width: 295px; }
	.hNav > ul > li:nth-child(odd),
	.hNav > ul > li:nth-child(even) { width: auto; }

	.hNav > ul > li > a {
		padding: 0 10px;
		text-align: left;
	}

	.twoColumn > div,
	.twoColumn > div + div {
		float: none;
		width: auto;
	}

	.footer.row1 > .twoColumn {
		margin: 0 auto;
		max-width: 320px;
	}

	.footer.row1 > div > div,
	.footer.row1 > div > div + div {
		width: auto;
	}

	.stayConnected { width: 240px; }
}

@media (max-width: 360px) {
	.pageTools > li { margin: 4px .5em; }

	#q { max-width: 218px; }
}


/* print */

@media print {
	* {
		background: transparent !important;
		box-shadow: none !important;
		color: #000 !important;
		text-shadow: none !important;
	}

	a { text-decoration: underline; }

	a[href]:after      { content: " (" attr(href) ") "; }
	a[href^="/"]:after { content: " (http://www.faa.gov" attr(href) ") "; }
	a[href^="//"]:after,
	a[href^="/exit/"]:after,
	a[href^="#"]:after,
	a[href^="."]:after,
	a[href^="javascript:"]:after,
	table a:after,
	a[href^="/contact_faa/"]:after,
	a.siteLogo:after   { content: ""; }

	abbr[title]:after,
	acronym[title]:after {
		content: " (" attr(title) ")";
		font-size: .857em;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }

	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}

	h2, h3 { page-break-after: avoid; }

	/* hide items */
	.skipLinks, .topNav, .header form, .hNav, .vNav, .breadcrumbs, .pageTools, .rightSidebar, .footer, .noPrint { display: none; }


	/* housekeeping */
	.siteLogo {
		font-size: 1.5rem;
		height: auto;
		padding-top: 0;
		width: auto;
	}

	.hGroup { border-top: 0; }

	.templateContainer,
	.mainColumn,
	#content {
		float: none;
		width: auto !important;
	}
	#content { border-top: 1px solid #ddd; }

	ul[class^='anchor'] { padding-left: 2em; }
	ul[class^="anchor"] > li { padding-left: 0; }

	a.anchorUp, a.anchor-up, .anchor-up > li, .anchorUp > li,
	a.anchorDown, a.anchor-down, .anchor-down > li, .anchorDown > li { background: none; }
	a.anchorUp, a.anchor-up, a.anchorDown, a.anchor-down { padding-left: 0; }
	a[href^="/exit/"] {
		background: none;
		padding-right: 0;
	}
} /* end @media print */

.roundAll    { border-radius: 6px; }
.roundBottom { border-radius: 0 0 6px 6px; }
.roundLeft   { border-radius: 6px 0 0 6px; }
.roundRight  { border-radius: 0 6px 6px 0; }
.roundTop    { border-radius: 6px 6px 0 0; }


